._body{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

._introText{
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
}
._homeInroPick{
    padding: 20px;
}
._introText h2{
    margin-bottom: 40px;
}
._introText h2 span{
    background-color: #1d77ee;
    color: #fff;
    padding: 1px 5px 1px 5px;
    border-radius: 10px;
}
._introText h4{
    text-decoration: underline;
}

@media (max-width:1109px){
    ._body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 100px;
    }
}

@media (max-width:500px){
    ._body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 50px;
    }
}

/*------------------   Main Home Part   ------------------*/
.body{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}









/*------------------   Footer Part   ------------------*/

.footer{
    text-align: center;
    padding: 20px;
}
.footer h5{
    text-decoration: underline;
}

@media (max-width:999px){
    .footer{
        text-align: center;
       margin-top: 50px;
    }
}