.signin{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.form{
    width: 40%;
}

.form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 10rem;
}

.form input{
    width: 80%;
    padding: 10px;
    border: none;
    font-size: 1.2em;
    box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 20px;
    outline: none;
}
.form button{
    width: 80%;
    padding: 10px;
    border: none;
    font-size: 1.2em;
    box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 20px;
    background-color: #1d77ee;
    color: #fff;
    cursor: pointer;
}
.form a{
    text-decoration: underline;
    color: #063a7d;
    font-weight: bold;
}


.forgetPassword{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 10px;
}
.forgetPassword >div{
    text-align: left;
    position: relative;
    top: 10px;
    left: 10px;
    color: rgb(91, 91, 91);
    font-size: 0.8em;
}
.forgetPassword span{
    cursor: pointer;
}

.label{
    width: 80%;
    text-align: left;
    position: relative;
    top: 15px;
    left: 10px;
    color: rgb(91, 91, 91);
    font-size: 0.8em;
}

@media (max-width:999px){
    .signin{
        padding-top: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .form{
        width: 80%;
        padding: 50px;
        margin-top: 50px;
        order: 2;
    }
    .form input , .form button{
        width: 100%;
    }
    .graphic{
        order: 1;
    }
    .forgetPassword{
        width: 100%;
        text-align: right;
    }
    .label{
        width: 100%;
    }
}

@media (max-width:750px){
    .signin{
        padding-top: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .form{
        width: 100%;
        padding: 50px;
    }
    .form input , .form button{
        width: 100%;
    }
    .forgetPassword{
        width: 100%;
        text-align: right;
    }
    .label{
        width: 100%;
    }
}